<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <div>
        <a th:href="@{/estudiantes/nuevo}" class="btn-crear">Crear Nuevo Estudiante</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estudiante : ${estudiantes}">
                <td th:text="${estudiante.id}">1</td>
                <td th:text="${estudiante.nombre}">Nombre</td>
                <td th:text="${estudiante.apellido}">Apellido</td>
                <td th:text="${estudiante.correo}">correo@example.com</td>
                <td>
                    <a th:href="@{'/estudiantes/editar/' + ${estudiante.id}}">Editar</a> |
                    <a th:href="@{'/estudiantes/eliminar/' + ${estudiante.id}}" 
                       onclick="return confirm('¿Estás seguro de que quieres eliminar este estudiante?');">Eliminar</a> |
                    <a th:href="@{'/notas/' + ${estudiante.id}}">Ver Notas</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>