<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Materias</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h1>Lista de Materias</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Créditos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="materia : ${materias}">
                <td th:text="${materia.id}"></td>
                <td th:text="${materia.nombre}"></td>
                <td th:text="${materia.creditos}"></td>
                <td>
                    <a th:href="@{'/materias/' + ${materia.id} + '/estudiantes'}">Ver Estudiantes</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>